@font-face {
  font-family: 'IranSans';
  src: url('IRANSansWeb.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IranSansMedium';
  src: url('IRANSansWeb_Medium.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IranSansLight';
  src: url('IRANSansWeb_Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
