// Variables

$table-border-color: rgba(0, 0, 0, 0.1);


.table-container {

  table {
    direction: rtl;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $table-border-color;

    th, td {
      padding: 5px 10px;
      border-bottom: 1px solid $table-border-color;
    }

    .table-header {
      font-family: IranSansMedium, sans-serif;
      font-size: 16px;
      text-align: right;
    }

    .table-body {
      font-family: IranSansLight, sans-serif;
      font-size: 14px;
    }

  }
}

.table-footer {
  display: flex;
  margin: 5px;
  overflow-x: scroll;
  padding: 30px;

  .pagination {
    margin: auto;

    input {
      text-align: center;
      width: 30px;
      border: 1px solid #0000002e;
      padding: 5px;
      border-radius: 5px;
      margin: 0 10px;
      min-width: 50px;
    }

    a {
      color: #2b3237;
      font-size: 14px;
      transition: 0.3s;

      &.disabled {
        opacity: 0.2;
        cursor: not-allowed;
      }

      &:hover {
        color: #000000;
        cursor: pointer;
      }
    }

    .pagination-info {
      margin-left: 20px;
      display: inline-block;
      font-size: 13px;
      color: #00000054;;
    }
  }
}
