<div class="table-filters">

</div>
<div class="table-container">
  <table>
    <thead class="table-header">
    <tr>
      <th></th>
      <th>{{tableHeaders.name}}</th>
      <th>{{tableHeaders.date}}</th>
      <th>{{tableHeaders.title}}</th>
      <th>{{tableHeaders.field}}</th>
      <th>{{tableHeaders.old_value}}</th>
      <th>{{tableHeaders.new_value}}</th>
    </tr>
    </thead>
    <tbody class="table-body">
    <tr *ngFor="let row of currentDataChunk">
      <td>{{row.id}}</td>
      <td>{{row.name}}</td>
      <td>{{row.date}}</td>
      <td>{{row.title}}</td>
      <td>{{row.field}}</td>
      <td>{{row.old_value}}</td>
      <td>{{row.new_value}}</td>
    </tr>
    </tbody>
  </table>
  <div class="table-footer">
    <div class="pagination">
      <a class="previous-page" [ngClass]="{'disabled': currentPage === 1}" (click)="changeCurrentPage(currentPage - 1)">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </a>
      <input [value]="currentPage" #currentPageInput (keydown.enter)="changeCurrentPage(+currentPageInput.value)">
      <a class="next-page" [ngClass]="{'disabled': currentPage === totalPages}" (click)="changeCurrentPage(currentPage + 1)">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
      <div class="pagination-info">Page {{currentPage}} of {{totalPages}}</div>
    </div>
  </div>
</div>
